<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.htvii.hack_the_valley_ii">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AccountSummaryActivity"
            android:label="@string/title_activity_account_summary"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecordActivity"
            android:label="@string/title_activity_record"
            android:parentActivityName=".AccountSummaryActivity" />
        <activity
            android:name=".ManualRecordActivity"
            android:label="@string/title_activity_manual_record"
            android:parentActivityName=".AccountSummaryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.htvii.hack_the_valley_ii.AccountSummaryActivity" />
        </activity>
        <activity android:name=".MakePhotoActivity" />
    </application>

</manifest>